

<header class="header {{^is "home"}}header--post{{/is}} // mar0">

    <section class="header__title // wrap / clear">

        <h1 class="header__simey">
            <a href="http://simey.me">@simey<span class="header__dotme">dotme</span></a>
        </h1>

        {{> social }}

    </section>

</header>

