
<nav class="nav // txt-r" role="navigation">

    <h3 class="hidden">Navigation</h3>

    <ul class="no-list / pad0 / mar-t0">

        {{#foreach navigation}}
            <li 
                class="nav__item nav__item-{{slug}}{{#if current}} / nav__item-current{{/if}} // txt-black" 
                role="presentation">

                <a class="nav__link" href="{{url absolute="true"}}" tabindex="1">

                    {{label}}

                </a>

            </li>
        {{/foreach}}

    </ul>

    <a class="nav__subscribe // button / disp-ib" href="{{@blog.url}}/rss/">Subscribe</a>

</nav>

