
    
{{#if prev }}

    <nav class="pagination // txt-code / mar-t5" role="navigation">

            <a class="pagination__older" href="{{page_url next}}">

                <span class="pagination__arrow pagination__arrow-left">
                    {{> svgicon iconname="arrow-left"}}
                </span>

                Older Posts

            </a>

    </nav>
    
{{/if}}
