
<header class="blog-post__header // txt-c / mar-b5 / mar-t4">

    <section class="blog-post__meta // txt-code / mar-v3">

        <time 
            class="blog-post__date // disp-b" 
            datetime="{{ date format='YYYY-MM-DD' }}">

                {{ date format="Do MMMM YYYY" }}

        </time> 
    
    </section>

    <h1 class="blog-post__title // txt-h-open / lg-txt+4 / sm-txt+3 / txt-thin / clr-simey">
        {{title}}
    </h1>

</header>