<ul class="social // pad0 / mar0 / no-list">

    <li class="social__item / twitter">
        <a href="http://twitter.com/simeydotme" class="social__link" title="I mostly moan on twitter...">
            {{> svgicon iconname="twitter"}}
            <span class="hidden">&nbsp;twitter</span>
        </a>
    </li>

    <li class="social__item / codepen">
        <a href="http://codepen.io/simeydotme" class="social__link" title="my codepens bring all the boys to the yard...">
            {{> svgicon iconname="codepen"}}
            <span class="hidden">&nbsp;codepen</span>
        </a>
    </li>

    <li class="social__item / github">
        <a href="http://github.com/simeydotme" class="social__link" title="social coding, and open source are my jam...">
            {{> svgicon iconname="github"}}
            <span class="hidden">&nbsp;github</span>
        </a>
    </li>

</ul>