
<header class="tag__header // txt-c / lg-mar-t4">

    <h1 class="tag__title // txt-h-open / lg-txt+4 / sm-txt-3 / txt-thin / clr-simey">
        {{name}}
    </h1>

    <section class="tag__meta // mar-t3">

        {{#if description}}
        <h2 class="tag__description // txt-h-open / lg-txt+3 / sm-txt+1 / txt-book">
            {{description}}
        </h2>
        {{/if}}

        <span class="tag__tags // txt-lower ">
            {{tags prefix="" separator=", " suffix=""}}
        </span>
    
    </section>

</header>
