

    // Helper Classes.

    .wrap { 

        max-width: $wrap;

        padding-left: $wrap-pad-small;
        padding-right: $wrap-pad-small;

        margin-left: auto;
        margin-right: auto;

        @media screen and ( min-width: 30rem ) {

            padding-left: $wrap-pad;
            padding-right: $wrap-pad;

        }

        @media screen and ( min-width: 80rem ) {

            margin-left: 16rem;

        }

    }
    
    .clear {
        
        display: block;

        &:after {

            content: "";
            display: table;
            clear: both;
            
        }

    }

    .no-list {

        list-style: none;

    }




    .clr-default        { color: $fg; }
    .clr-simey          { color: $simeycolor; }
    .clr-blue           { color: $blue; }
    .clr-coral          { color: $coral; }

    .bg-dark            { background-color: $bgBody; }
    .bg-darker          { background-color: $bg; }
    .bg-simey           { background-color: $simeycolor; }
    
    .cursor-normal      { cursor: default; }
    .cursor-hand        { cursor: pointer; }


@mixin helpers( $prefix: "" ) {

    .#{ $prefix }hidden {

        position: absolute; 
        width: 1px; 
        height: 1px; 
        overflow: hidden; 
        opacity: 0; 
        top: 0;
        left: 0;

    }

    .#{ $prefix }float-l            { float: left; }
    .#{ $prefix }float-r            { float: right; }

    .#{ $prefix }disp-b             { display: block; }
    .#{ $prefix }disp-i             { display: inline; }
    .#{ $prefix }disp-ib            { display: inline-block; }
    .#{ $prefix }disp-n             { display: none; }

    .#{ $prefix }thirty             { width: 30%; }
    .#{ $prefix }forty              { width: 40%; }
    .#{ $prefix }fifty              { width: 50%; }
    .#{ $prefix }sixty              { width: 60%; }
    .#{ $prefix }seventy            { width: 70%; }

    .#{ $prefix }one-third          { width: 33%; }
    .#{ $prefix }two-thirds         { width: 66%; }

    .#{ $prefix }back-cover         { background-size: cover; }
    .#{ $prefix }back-center        { background-position: center; }

}



// ====================================================================================


    @include helpers();

@media #{ $mql } {

    @include helpers( "lg-" );

}

@media #{ $mqs } {

    @include helpers( "sm-" );

}