
    
    // MARGIN

@mixin margin( $prefix: "" ) {

    .#{ $prefix }mar0           { margin: 0; }
    .#{ $prefix }mar-t0         { margin-top: 0; }
    .#{ $prefix }mar-b0         { margin-bottom: 0; }
    .#{ $prefix }mar-l0         { margin-left: 0; }
    .#{ $prefix }mar-r0         { margin-right: 0; }
    .#{ $prefix }mar-h0         { margin-left: 0; margin-right: 0; }
    .#{ $prefix }mar-v0         { margin-top: 0; margin-bottom: 0; }

    .#{ $prefix }mar1           { margin: 0.5rem; }
    .#{ $prefix }mar-t1         { margin-top: 0.5rem; }
    .#{ $prefix }mar-b1         { margin-bottom: 0.5rem; }
    .#{ $prefix }mar-l1         { margin-left: 0.5rem; }
    .#{ $prefix }mar-r1         { margin-right: 0.5rem; }
    .#{ $prefix }mar-h1         { margin-left: 0.5rem; margin-right: 0.5rem; }
    .#{ $prefix }mar-v1         { margin-top: 0.5rem; margin-bottom: 0.5rem; }

    .#{ $prefix }mar2           { margin: 1rem; }
    .#{ $prefix }mar-t2         { margin-top: 1rem; }
    .#{ $prefix }mar-b2         { margin-bottom: 1rem; }
    .#{ $prefix }mar-l2         { margin-left: 1rem; }
    .#{ $prefix }mar-r2         { margin-right: 1rem; }
    .#{ $prefix }mar-h2         { margin-left: 1rem; margin-right: 1rem; }
    .#{ $prefix }mar-v2         { margin-top: 1rem; margin-bottom: 1rem; }

    .#{ $prefix }mar3           { margin: 2rem; }
    .#{ $prefix }mar-t3         { margin-top: 2rem; }
    .#{ $prefix }mar-b3         { margin-bottom: 2rem; }
    .#{ $prefix }mar-l3         { margin-left: 2rem; }
    .#{ $prefix }mar-r3         { margin-right: 2rem; }
    .#{ $prefix }mar-h3         { margin-left: 2rem; margin-right: 2rem; }
    .#{ $prefix }mar-v3         { margin-top: 2rem; margin-bottom: 2rem; }

    .#{ $prefix }mar4           { margin: 4rem; }
    .#{ $prefix }mar-t4         { margin-top: 4rem; }
    .#{ $prefix }mar-b4         { margin-bottom: 4rem; }
    .#{ $prefix }mar-l4         { margin-left: 4rem; }
    .#{ $prefix }mar-r4         { margin-right: 4rem; }
    .#{ $prefix }mar-h4         { margin-left: 4rem; margin-right: 4rem; }
    .#{ $prefix }mar-v4         { margin-top: 4rem; margin-bottom: 4rem; }

    .#{ $prefix }mar5           { margin: 8rem; }
    .#{ $prefix }mar-t5         { margin-top: 8rem; }
    .#{ $prefix }mar-b5         { margin-bottom: 8rem; }
    .#{ $prefix }mar-l5         { margin-left: 8rem; }
    .#{ $prefix }mar-r5         { margin-right: 8rem; }
    .#{ $prefix }mar-h5         { margin-left: 8rem; margin-right: 8rem; }
    .#{ $prefix }mar-v5         { margin-top: 8rem; margin-bottom: 8rem; }

    .#{ $prefix }mar6           { margin: 16rem; }
    .#{ $prefix }mar-t6         { margin-top: 16rem; }
    .#{ $prefix }mar-b6         { margin-bottom: 16rem; }
    .#{ $prefix }mar-l6         { margin-left: 16rem; }
    .#{ $prefix }mar-r6         { margin-right: 16rem; }
    .#{ $prefix }mar-h6         { margin-left: 16rem; margin-right: 16rem; }
    .#{ $prefix }mar-v6         { margin-top: 16rem; margin-bottom: 16rem; }

}



// ====================================================================================


    @include margin();

@media #{ $mql } {

    @include margin( "lg-" );

}

@media #{ $mqs } {

    @include margin( "sm-" );

}