

    // OVERFLOW

@mixin overflow( $prefix: "" ) {

    .#{ $prefix }flow-h             { overflow: hidden; }
    .#{ $prefix }flow-v             { overflow: visible; }
    .#{ $prefix }flow-s             { overflow: scroll; }
    .#{ $prefix }flow-a             { overflow: auto; }

}



// ====================================================================================


    @include overflow();

@media #{ $mql } {

    @include overflow( "lg-" );

}

@media #{ $mqs } {

    @include overflow( "sm-" );

}