
    
    // PADDING

@mixin padding( $prefix: "" ) {

    .#{ $prefix }pad0           { padding: 0; }
    .#{ $prefix }pad-t0         { padding-top: 0; }
    .#{ $prefix }pad-b0         { padding-bottom: 0; }
    .#{ $prefix }pad-l0         { padding-left: 0; }
    .#{ $prefix }pad-r0         { padding-right: 0; }
    .#{ $prefix }pad-h0         { padding-left: 0; padding-right: 0; }
    .#{ $prefix }pad-v0         { padding-top: 0; padding-bottom: 0; }

    .#{ $prefix }pad1           { padding: 0.5rem; }
    .#{ $prefix }pad-t1         { padding-top: 0.5rem; }
    .#{ $prefix }pad-b1         { padding-bottom: 0.5rem; }
    .#{ $prefix }pad-l1         { padding-left: 0.5rem; }
    .#{ $prefix }pad-r1         { padding-right: 0.5rem; }
    .#{ $prefix }pad-h1         { padding-left: 0.5rem; padding-right: 0.5rem; }
    .#{ $prefix }pad-v1         { padding-top: 0.5rem; padding-bottom: 0.5rem; }

    .#{ $prefix }pad2           { padding: 1rem; }
    .#{ $prefix }pad-t2         { padding-top: 1rem; }
    .#{ $prefix }pad-b2         { padding-bottom: 1rem; }
    .#{ $prefix }pad-l2         { padding-left: 1rem; }
    .#{ $prefix }pad-r2         { padding-right: 1rem; }
    .#{ $prefix }pad-h2         { padding-left: 1rem; padding-right: 1rem; }
    .#{ $prefix }pad-v2         { padding-top: 1rem; padding-bottom: 1rem; }

    .#{ $prefix }pad3           { padding: 2rem; }
    .#{ $prefix }pad-t3         { padding-top: 2rem; }
    .#{ $prefix }pad-b3         { padding-bottom: 2rem; }
    .#{ $prefix }pad-l3         { padding-left: 2rem; }
    .#{ $prefix }pad-r3         { padding-right: 2rem; }
    .#{ $prefix }pad-h3         { padding-left: 2rem; padding-right: 2rem; }
    .#{ $prefix }pad-v3         { padding-top: 2rem; padding-bottom: 2rem; }

    .#{ $prefix }pad4           { padding: 4rem; }
    .#{ $prefix }pad-t4         { padding-top: 4rem; }
    .#{ $prefix }pad-b4         { padding-bottom: 4rem; }
    .#{ $prefix }pad-l4         { padding-left: 4rem; }
    .#{ $prefix }pad-r4         { padding-right: 4rem; }
    .#{ $prefix }pad-h4         { padding-left: 4rem; padding-right: 4rem; }
    .#{ $prefix }pad-v4         { padding-top: 4rem; padding-bottom: 4rem; }

    .#{ $prefix }pad5           { padding: 8rem; }
    .#{ $prefix }pad-t5         { padding-top: 8rem; }
    .#{ $prefix }pad-b5         { padding-bottom: 8rem; }
    .#{ $prefix }pad-l5         { padding-left: 8rem; }
    .#{ $prefix }pad-r5         { padding-right: 8rem; }
    .#{ $prefix }pad-h5         { padding-left: 8rem; padding-right: 8rem; }
    .#{ $prefix }pad-v5         { padding-top: 8rem; padding-bottom: 8rem; }

    .#{ $prefix }pad6           { padding: 16rem; }
    .#{ $prefix }pad-t6         { padding-top: 16rem; }
    .#{ $prefix }pad-b6         { padding-bottom: 16rem; }
    .#{ $prefix }pad-l6         { padding-left: 16rem; }
    .#{ $prefix }pad-r6         { padding-right: 16rem; }
    .#{ $prefix }pad-h6         { padding-left: 16rem; padding-right: 16rem; }
    .#{ $prefix }pad-v6         { padding-top: 16rem; padding-bottom: 16rem; }

}

// ====================================================================================


    @include padding();

@media #{ $mql } {

    @include padding( "lg-" );

}

@media #{ $mqs } {

    @include padding( "sm-" );

}