
@mixin position( $prefix: "" ) {

    .#{ $prefix }pos-r { position: relative; }
    .#{ $prefix }pos-a { position: absolute; }
    .#{ $prefix }pos-s { position: static; }
    .#{ $prefix }pos-f { position: fixed; }

}



    @include position();

@media #{ $mql } {

    @include position( "lg-" );

}

@media #{ $mqs } {

    @include position( "sm-" );

}