

    // TEXT

    .txt-sans       { font-family: $fSans; }
    .txt-serif      { font-family: $fSerif; }
    .txt-code       { font-family: $fCode; }

    .txt-h-lato     { font-family: $fLatoHeading; }
    .txt-h-open     { font-family: $fOpenHeading; }

    .txt-lower      { text-transform: lowercase; }
    .txt-upper      { text-transform: uppercase; }

    
@mixin text( $prefix: "" ) {

    .#{ $prefix }txt\+5        { font-size: 5rem; }
    .#{ $prefix }txt\+4        { font-size: 3rem; }
    .#{ $prefix }txt\+3        { font-size: 2rem; }
    .#{ $prefix }txt\+2        { font-size: 1.5rem; }
    .#{ $prefix }txt\+1        { font-size: 1.25rem; }
    .#{ $prefix }txt           { font-size: 1rem; }
    .#{ $prefix }txt-1         { font-size: .875rem; }
    .#{ $prefix }txt-2         { font-size: .75rem; }

    .#{ $prefix }lh\+2         { line-height: 2; }
    .#{ $prefix }lh\+1         { line-height: 1.5; }
    .#{ $prefix }lh            { line-height: 1.25; }
    .#{ $prefix }lh-1          { line-height: 1; }

    .#{ $prefix }txt-l         { text-align: left; }
    .#{ $prefix }txt-r         { text-align: right; }
    .#{ $prefix }txt-c         { text-align: center; }

    .#{ $prefix }txt-thin      { font-weight: 200; }
    .#{ $prefix }txt-light     { font-weight: 300; }
    .#{ $prefix }txt-book      { font-weight: 400; }
    .#{ $prefix }txt-semi      { font-weight: 500; }
    .#{ $prefix }txt-bold      { font-weight: 600; }
    .#{ $prefix }txt-black     { font-weight: 700; }
    .#{ $prefix }txt-ultra     { font-weight: 900; }

}

// ====================================================================================


    @include text();


@media #{ $mql } {

    @include text( "lg-" );

}


@media #{ $mqs } {

    @include text( "sm-" );

}
