{{!< default}}



<main class="main // txt-c" role="main">

    <section class="guy // clr-simey / txt+5 / lh+2 / pad-t4">
       ¯\_(ツ )_/¯
    </section>
    
    <h2 class="txt-h-lato / txt-black / txt+3 / clr-default / pad-b4">{{code}}</h2>

</main>
