{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

{{#if image}}{{/if}}


<main class="main" role="main">

    <article class="blog-post // {{post_class}} / txt-light">


        {{> post-header }}


        <section class="blog-post__content // lg-txt+2 / lh+1">

            {{content}}

        </section>

        
        {{> post-footer }}


    </article>

</main>

{{/post}}
