{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}

{{#tag}}

    {{> tag-header }}

    <main id="content" class="clear" role="main">


        <section class="divided-section / lg-thirty / lg-float-l">

            {{#if image}}
                <img src="{{image}}" alt="Image assosiated with this post">
            {{/if}}

        </section>


{{/tag}}


        <section class="divided-section / lg-seventy / lg-float-l">

            <h2 class="hidden">Posts</h2>

            {{! The tag below includes the post loop - partials/loop.hbs }}
            {{> "loop"}}

        </section>


    </main>