{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}

{{#tag}}

    {{> tag-header }}

    <main id="content" class="clear / {{#if image}}mar-t4{{else}}mar-t5{{/if}}" role="main">

        {{#if image}}

        <section class="txt-c / mar-b3">

            <img src="{{image}}" class="img" alt="Image associated with this tag">

        </section>

        {{/if}}

{{/tag}}


        <section class="lg-pad-h4 pad-v3">

            <h2 class="hidden">Posts</h2>

            {{! The tag below includes the post loop - partials/loop.hbs }}
            {{> "loop"}}

        </section>


    </main>