    

    .content {

        background: $bgBody;

    }

    .divided-section {
            
        &:nth-of-type(even) {

            &:after {

                content: "";
                position: absolute;
                top: 0;
                left: 0px;
                height: 100%;
                width: 1px;
                background: rgba( lighten( $bg, 80% ) , 0.3 );

            }
            
        }

        @media #{ $mql } {

            &:nth-of-type(odd) {

                padding-left: 0;
                
            }
            
            &:nth-of-type(even) {

                padding-right: 0;

            }

        }

        @media #{ $mqs } {

            &:nth-of-type(even) {

                margin-left: 1em;
                
            }

        }

    }