
    .loop-photo {

        &__title-link {
            
            height: 250px;
            overflow: hidden;
            
            position: relative;

        }

        &__title {
            
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;

            transform: translateY(-50%);

            transition: all 0.3s ease;

        }

        &__overlay {
            
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;

            background-color: rgba($bg, 0.75);

            transition: all 0.3s ease;

        }

        &:hover .loop-photo {

            &__title {

                transform: translateY( 200px );

            }

            &__overlay {

                opacity: 0;

            }

        }

    }


    .post-template.tag-photos .blog-post {
        
        img { 

            float: left;
            margin-top: 1rem;
            margin-bottom: 1rem;

        }

        p:after { 

            @extend .clear;

        }

        // only 1 image in a row.
        // http://quantityqueries.com/

        img:nth-last-child(-n+1):first-child, 
        img:nth-last-child(-n+1):first-child ~ img { 

            max-width: 90%;
            margin-left: 5%;
            margin-right: 5%;

        }
        
            
        @media #{ $mqm } {
            
            // at least 2 items in a row.

            img:nth-last-child(n+2), 
            img:nth-last-child(n+2) ~ img {

                max-width: 44%;
                margin-left: 3%;
                margin-right: 3%;

            }

            // at least 3 images in a row

            img:nth-last-child(n+3), 
            img:nth-last-child(n+3) ~ img {

                max-width: 29.33%;
                margin-left: 2%;
                margin-right: 2%;

            }
            
            // at least 4 images in a row

            img:nth-last-child(n+4), 
            img:nth-last-child(n+4) ~ img {

                max-width: 21%;
                margin-left: 2%;
                margin-right: 2%;

            }

        }

    }

    .zoomable {
        
        cursor: pointer;
        user-select: none;

    }

    .zoom-photo,
    .zoom-photo .zoomable {

        transition: all 0.3s ease, opacity 0.15s ease;

    }

    .zoom-photo {
        
        $pos: 0;

        position: fixed;
        left: $pos;
        right: $pos;
        top: $pos;
        bottom: $pos;
        opacity: 0;
        background: rgba( $bg , 0.8 );

        padding: 2rem;

        .zoomable {

            position: absolute;

            top: 50%; left: 50%;
            transform: translate(-50%, -6rem ) scale(0.1);

        }

        .zoom-fullsize {

            width: 100%;
            position: absolute;
            bottom: 1.5em;
            left: 0;
            text-align: center;

        }

        &--zoomed {

            opacity: 1;

            .zoomable {

                transform: translate( -50% , -50% ) scale(1);

            }

        }

        .zoom-link {}

    }