

    .loop-post {
            
        position: relative;
        padding: 0;
        margin: 0 0 3em;

        @media #{ $mqs } {

            margin-bottom: 1.8em;

        }


        &__header {

            position: relative;

        }
        
        &__title {

            color: $posttitle;

            @media #{ $mqs } {

                font-size: 1.5em;

            }

            &-link {

                &:visited {

                    color: $postvisited;

                }

                &:hover {

                    color: $posthover;

                }

            }

        }

        &__date {

            font-size: 0.875em;

            margin-top: 0;
            color: rgba( lighten( $bg, 60% ) , 0.6 );

            transition: color 0.5s ease;

            @media #{ $mqs } {

                font-size: 0.75em;

            }

        }


        &__stars {

            font-size: 1rem;

            position: absolute;
            left: -3em;
            top: 0.4em;

            height: 2em;
            width: 2em;
            background: $bgBody;

            z-index: 2;

        }

        &__star {

            color: rgba( lighten( $bg, 60% ) , 0.4 );
            position: absolute;
            left: 50%;
            top: 50%;
            height: 2em;
            width: 2em;
            margin-top: -1em;
            margin-left: -1em;

            transition: all 0.3s ease;

            svg {
                
                width: 2em;
                height: 2em;
                top: 0;
                left: 0;
                position: absolute;


            }

        }

        &__star--filled {

            color: $simeycolor;
            opacity: 0;

            transition: all 1.5s ease-in;
            transform: translateY(0.1em) scale(0.5) rotate(-90deg);

        }




        &:hover {

            .loop-post__date {

                color: rgba( lighten( $bg, 60% ) , 1 );

            }

        }

    }  

    .loop-post__title:hover ~ .loop-post__stars .loop-post__star,
    .loop-post__stars:hover .loop-post__star {

        opacity: 0;

        &--filled {

            opacity: 1;
            transition-timing-function: ease-out;
            transition-duration: 0.22s;
            transform: scale(1);

        }
    }

    










    $firstBatch: 4;
    $secondBatch: 11;

    .loop-post {

        // first batch of posts will be slightly smaller
        // and not as spread out.

        &:nth-of-type( n + #{$firstBatch} ) {

            margin: 0 0 1.5em;

            .loop-post__title {
            
                font-size: 1.4em;
                line-height: 1.2;

            }

            .loop-post__stars {

                top: -0.1em;
                font-size: 0.9em;
                left: -3.2em;

            }

        }

        &:nth-of-type( #{$firstBatch} ) {

            margin-top: 6em;

        }




        // second batch will be even smaller, and 
        // even closer, without the date shown.

        &:nth-of-type( n + #{$secondBatch} ) {
            
            margin: 0 0 0.8em;

            .loop-post__title {
                
                font-size: 1.2em;

            }

            .loop-post__date {

                @extend .hidden;

            }

            .loop-post__stars {

                top: -0.1em;
                font-size: 0.8em;
                left: -3.45em;

            }

        }

        &:nth-of-type( #{$secondBatch} ) {

            margin-top: 5em;

        }


    }
