    
    // default element styles.
    
    * {

        box-sizing: border-box;

    }

    html {

        font-size: 16px;
        line-height: 1.25;

    }

    html, 
    body {
        
        color: $fg;
        background: $bg;
        min-height: 100%;

    }

    a {

        color: $link;
        transition: color 1s ease;
        text-decoration: none;
        
        &:visited {
            
            color: $linkVisited;

        }

        &:hover {

            color: $linkHover;
            transition-duration: 0.18s;

        }

    }

    code, 
    pre {

        font-family: $fCode;

    }


