    
    .divided-section {

        padding: 2em;
        position: relative;
            
        &:nth-child(even) {

            &:after {

                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 1px;
                background: rgba( lighten( $bg, 80% ) , 0.3 );

            }
            
        }

        @media #{ $mql } {

            &:nth-child(odd) {

                padding-left: 0;
                
            }
            
            &:nth-child(even) {

                padding-right: 0;

            }

        }

        @media #{ $mqs } {

            &:nth-child(even) {

                margin-left: 1em;
                
            }

        }

    }