    
    .site-wrapper {
        
        padding: 3em 0;
        overflow: hidden;
        background: lighten( $bg, 2.5% );
        border-radius: 3px;

    }

    .content {

        max-width: 45em;
        padding: 0 1em;
        margin: auto;

    }
