
    .button,
    .button:visited {

        padding: 0.2em 1em 0.35em;
        border: 1px solid;
        border-radius: 4px;
        color: desaturate( darken( $simeycolor, 10% ) , 50% );
        transition: all 0.15s ease;

        &:hover,
        &:focus {
            
            color: $simeycolor;

        }

        &:focus {

            border-style: dotted;
            outline: none;

        }

        &:active {
            
            background: $simeycolor;
            color: $bg;

        }

    }