
    $comment: slategrey;
    $red: #FFBFDE;
    $blue: #82DAFF;
    $green: #A6FFE1;
    $purple: #B6BAFF;
    $yellow: #FFFCD1;
    $salmon: #FFCBBE;
    $grey: #ccc;


    pre[class*="language-"] {
        
        color: rgba( white, 0.8 );
        background: #434d5a;

        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;

        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;

        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;

    }

    pre[class*="language-"]::selection, 
    pre[class*="language-"] ::selection,
    code[class*="language-"]::selection, 
    code[class*="language-"] ::selection {



    }



    pre[class*="language-"] {
        
        .token {

            &.comment,
            &.prolog,
            &.doctype,
            &.cdata {

                color: $comment;
                font-style: italic;

            }

            &.keyword,
            &.selector {

                color: $green;

            }

            &.punctuation {

                color: $grey;

            }

            &.string {
                
                color: $salmon;

            }

            &.function,
            &.class-name,
            &.property {

                color: $blue;

            }

            &.boolean,
            &.number,
            &.hexcode,
            &.regex,
            &.constant,
            &.operator,
            &.url {

                color: $purple;

            }

            &.important,
            &.atrule {

                color: $red;

            }

        }

        &.language-scss {

            .token {
                
                &.keyword {

                    color: $red;

                }

                &.function {

                    color: $green;

                }

                &.variable {

                    color: $blue;

                }

            }

        }

    }
