
    $comment: lighten( $prebg, 40% );
    $red: #FF96C5;
    $blue: #97E0FF;
    $green: #A5FFE1;
    $purple: #B7B5FE;
    $yellow: #FFFECC;
    $salmon: #FFD5C3;
    $grey: #ccc;


    pre[class*="language-"] {

        color: #E6EFF7;
        background: $prebg;

        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;

        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;

        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;

    }

    pre[class*="language-"]::selection,
    pre[class*="language-"] ::selection,
    code[class*="language-"]::selection,
    code[class*="language-"] ::selection {



    }



    pre[class*="language-"] {

        .token {

            &.comment,
            &.prolog,
            &.doctype,
            &.cdata {

                color: $comment;
                font-style: italic;

            }

            &.keyword,
            &.selector,
            &.tag {

                color: $green;

            }

            &.punctuation {

                color: $grey;

            }

            &.string,
            &.attr-value {

                color: $yellow;

            }

            &.function,
            &.class-name,
            &.property {

                color: $blue;

            }

            &.boolean,
            &.number,
            &.hexcode,
            &.regex,
            &.constant,
            &.url,
            &.attr-name {

                color: $purple;

            }

            &.operator,
            &.important,
            &.atrule {

                color: $red;

            }

        }

        &.language-scss {

            .token {

                &.keyword {

                    color: $red;

                }

                &.function {

                    color: $green;

                }

                &.variable {

                    color: $blue;

                }

            }

        }

        &.language-bash {

            code {

                color: lighten( $simeycolor, 20% );

            }

            .token {

                color: $simeycolor;

            }

        }

    }
