    
    .footer {
        
        position: relative;

        &__next,
        &__prev {

            [class*=" simicon-"],
            [class^="simicon-"] {

                position: absolute;
                top: 3em;

                &:first-child {
                    left: -2em;
                    margin-right: 1em;
                }

                &:last-child {
                    right: -2em;
                    margin-left: 1em;
                }

                @media #{ $mqs } {

                    position: static;

                }

            }

            

        }

    }
    