    
    .footer {

        margin-top: 5em;
        padding: 3em;

        background: $bg;

        &__next,
        &__prev {

            [class*=" simicon-"],
            [class^="simicon-"] {

                &:first-child {
                    margin-right: 1em;
                }

                &:last-child {
                    margin-left: 1em;
                }

            }

            

        }

    }
    