    
    .header {

        text-align: center;
        position: relative;
        padding: 7.5em 0 7em ;
        margin: 0 0 1.5em;

        &__title {

        }

        &__simey {
            
            font-family: $fSimey;
            font-size: 3.5em;
            letter-spacing: -2px;
            vertical-align: middle;

            line-height: 1;
            margin: 0 0 0.8em -0.3em;

            a {

                color: $simeycolor;

            }

            @media #{ $mqs } {

                font-size: 12vw;

            }

        }

        &__dotme {
                
            font-weight: normal;
            color: desaturate( lighten( $bg, 40% ), 15% );

        }

    }
    
    @import "social";