
    .header--post,
    [class*="header--error-"] {

        padding: 2em 0;

        @media #{ $mqs } {
            
            padding: 2em 1.2em;

        }

        .header__simey {

            float: left;
            font-size: 2em;
            margin: auto;

            @media screen and ( max-width: 30em ) {
                
                float: none;

            }

        }

        .social {

            float: right;
            font-size: 1.6em;

            @media screen and ( max-width: 30em ) {
                
                float: none;
                position: relative;
                left: 0.1em;
                margin-top: 0.5em;

            }

            &__link {

                padding: 0.3em 0.5em;

            }

        }

        &:hover .social__item {

            transform: none;

        }

    }