

    .hr {
        
        font-family: $fCode;
        color: lighten( $bg , 50% );
        letter-spacing: 1em;

        border: none;
        margin: 4rem 0;

        &:before {

            content: "✦ ✦ ✦";
            display: block;
            text-align: center;

        }

    }


    .hr--line {
        
        @extend .hr;

        height: 1px;
        border-bottom: 1px solid;

        &:before {

            content: "";
            display: none;
            
        }

    }