

    .blog-post {
            
        position: relative;
        padding: 0;
        margin: 0 0 3em;


        &__header {

            position: relative;

        }
        
        &__title {

            font-size: 1.8em;
            color: $posttitle;

            &-link {

                &:visited {

                    color: $postvisited;

                }

                &:hover {

                    color: $posthover;

                }

            }

        }

        &__date {

            font-size: 0.9em;

            margin-top: 0;
            color: rgba( lighten( $bg, 60% ) , 0.6 );

            transition: color 0.5s ease;

        }


        &__stars {

            font-size: 1.6em;

            position: absolute;
            left: -1.6em;
            top: 0.1em;

        }

        &__star {

            color: rgba( lighten( $bg, 60% ) , 0.6 );
            position: absolute;
            left: 0;
            top: 0;

            transition: all 1.5s ease;

        }

        &__star--filled {

            color: $simeycolor;
            opacity: 0;

            transform: scale(1.5) rotate(45deg);

        }




        &:hover {

            .blog-post__date {

                color: rgba( lighten( $bg, 60% ) , 1 );

            }

        }

    }




    

    .blog-post__title:hover ~ .blog-post__stars .blog-post__star,
    .blog-post__stars:hover .blog-post__star {

        opacity: 0;

        &--filled {

            opacity: 1;
            transition-duration: 0.3s;

            transform: scale(1);

        }
    }

    


    $firstBatch: 6;
    $secondBatch: 11;

    .blog-post {

        &:nth-of-type( n + #{$firstBatch} ) {

            margin: 0 0 1.5em;

            .blog-post__title {
            
                font-size: 1.4em;
                line-height: 1.2;

            }

            .blog-post__stars {

                top: -0.2em;

            }

        }

        &:nth-of-type( #{$firstBatch} ) {

            margin-top: 6em;

        }






        &:nth-of-type( n + #{$secondBatch} ) {
            
            margin: 0 0 0.8em;

            .blog-post__title {
                
                font-size: 1.2em;

            }

            .blog-post__date {

                @extend .hidden;

            }

            .blog-post__stars {

                top: -0.2em;
                font-size: 1.4em;

            }

        }

        &:nth-of-type( #{$secondBatch} ) {

            margin-top: 5em;

        }


    }
