
    $bg: #241e2e;
    $bgStart: #413763;
    $color: #d1dedb;

    $simeycolor: #62efab;
    $link: #66c9e5;
    $linkHover: #d797a2;
    $linkVisited: #cdadfd;

    $posttitle: #53D9FF;
    $posthover: $simeycolor;
    $postvisited: $posttitle;
    
    $fSans:     "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    $fHeading:  Avenir, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    $fSimey:    Asap, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    $fCode:     Menlo, Monaco, Consolas, monospace;

    @import "../../../bower_components/normalize.css/normalize";

    @import "base";
    @import "svg";

    @import "header";
    @import "body";
    @import "footer";
    
    @import "posts";