
    $bg: #1f222d;
    $bgBody: #2b2e39;
    $fg: #d1dedb;

    $simeycolor: #40ffb1;
    $blue: #66c9e5;
    $coral: #ffa186;
    $violet: #cdadfd;

    $link: $blue;
    $linkHover: $coral;
    $linkVisited: $violet;

    $looptitle: #c2c8d9;
    $looplink: lighten( $looptitle, 6% );
    $loopvisited: darken( $looptitle, 6% );
    $loophover: $simeycolor;
    $star: #fbff60;
    
    $postbody: #c2c8d9;
    $posttitle: lighten( $postbody, 7% );
    $posthover: $simeycolor;
    $postvisited: $posttitle;
    
    $postpre: #d7ffed;
    $prebg: $bg;
    $postemphasis: #e5fbff;
    
    $fSans:     "Segoe UI", "Helvetica Neue", "Source Sans Pro", Arial, sans-serif;
    $fSerif:    "Merriweather", "Georgia", serif;
    $fHeading:  Avenir, $fSans;
    $fSimey:    Asap, $fSans;
    $fCode:     Menlo, Monaco, Consolas, monospace;

    // ========================================================================================
    
    $cubicOut:  cubic-bezier(0.215, 0.61, 0.355, 1);
    $cubicIn:   cubic-bezier(0.55, 0.055, 0.675, 0.19);
    $cubicEase: cubic-bezier(0.645, 0.045, 0.355, 1);

    // ========================================================================================
    
    $wrap: 46em;
    $mqs: "screen and ( max-width: 46rem )";
    $mqm: "screen and ( min-width: 36rem )";
    $mql: "screen and ( min-width: 46.00001rem )";

    // ========================================================================================



    @import "../../../bower_components/normalize.css/normalize";

    @import "helpers/_index";

    @import "base";
    @import "svg";
    @import "button";
    @import "code";
    @import "hr";

    @import "blocks/header";
    @import "blocks/social";
    @import "blocks/header--post";
    @import "blocks/body";
    @import "blocks/navigation";
    @import "blocks/author";
    @import "blocks/footer";
    
    @import "blocks/posts";
    @import "blocks/post";
    @import "blocks/photos";
