
    $bg: #312b38;
    $bgStart: #413763;
    $color: #eee;

    $simeycolor: #62efab;
    $link: #66c9e5;
    $linkHover: #d797a2;
    $linkVisited: #cdadfd;

    $posttitle: #53D9FF;
    $posthover: $simeycolor;
    $postvisited: $posttitle;

    $fHeading: Avenir, "Segoe UI", Helvetica, Arial, sans-serif;
    $fTitle: Asap, "Segoe UI", Helvetica, Arial, sans-serif;
    $fBody: "Segoe UI", Helvetica, Arial, sans-serif;
    $fCode: Menlo, Monaco, Consolas, monospace;

    @import "../../../bower_components/normalize.css/normalize";

    @import "base";
    @import "svg";

    @import "header";
    @import "body";
    @import "social";
    
    @import "posts";